<p>
    <button (click)="goToCreate()">Create a book</button>
</p>


<section class="items">
  <h1 class = "most-popular">MOST POPULAR</h1>
  <section class="regular1-slider">
    <ul>
      <div class="book-card" *ngFor="let book of books | slice:0:4" [routerLink]="['book',book._id] ">
        <P>{{book._id}}</P>
        <P>{{book.title}}</P>
        <P>{{book.author}}</P>
        <P>{{book.read}}</P>
        <button (click)="deleteBook(book._id)">X</button>
      </div>
    </ul>
  </section>

  <h1 class="recently-viewed">RECENTLY VIEWED</h1>
  <section class="regular2-slider">
    <ul>
      <div class="book-card" *ngFor="let book of books | slice:0:4" [routerLink]="['book',book._id] ">
        <P>{{book._id}}</P>
        <P>{{book.title}}</P>
        <P>{{book.author}}</P>
        <P>{{book.read}}</P>
        <button (click)="deleteBook(book._id)">X</button>
      </div>
    </ul>
  </section>

  <h1 class = "book-categories">BOOK CATEGORIES</h1>
  <section class="regular3-slider">
    <ul>
      <div class="book-card" *ngFor="let book of books | slice:0:4" [routerLink]="['book',book._id] ">
        <P>{{book._id}}</P>
        <P>{{book.title}}</P>
        <P>{{book.author}}</P>
        <P>{{book.read}}</P>
        <button (click)="deleteBook(book._id)">X</button>
      </div>
    </ul>
  </section>
 
</section>
<!-- <section class="regular1-slider">
<div class="book-card" *ngFor="let book of books" [routerLink]="['book',book._id]">
  <P>{{book._id}}</P>
  <P>{{book.title}}</P>
  <P>{{book.author}}</P>
  <P>{{book.read}}</P>
  <button (click)="deleteBook(book._id)">X</button>
</div>
                    <ul>
                        <li> <img src="http://placehold.it/350x300?text=1"></li>
                        <li><img src="http://placehold.it/350x300?text=2"></li> 
                        <li> <img src="http://placehold.it/350x300?text=3"></li>
                        <li><img src="http://placehold.it/350x300?text=4"></li> 
                    </ul>-->
<!-- </section>
</section>-->
<!--  <h1>RECENTLY VIEWED</h1>
                <section class="regular2-slider">
                    <ul>
                        <li> <img src="http://placehold.it/350x300?text=1"></li>
                        <li><img src="http://placehold.it/350x300?text=2"></li> 
                        <li> <img src="http://placehold.it/350x300?text=3"></li>
                        <li><img src="http://placehold.it/350x300?text=4"></li> 
                    </ul>
                </section>
                <h1>BOOK CATEGORIES</h1>
                <section class="regular3-slider">
                    <ul>
                        <li> <img src="http://placehold.it/350x300?text=1"></li>
                        <li><img src="http://placehold.it/350x300?text=2"></li> 
                        <li> <img src="http://placehold.it/350x300?text=3"></li>
                        <li><img src="http://placehold.it/350x300?text=4"></li> 
                    </ul>
                </section> -->