<!DOCTYPE HTML>
<html>

<head>
    <title>Elevate</title>

    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">

    <link rel="icon" href="./assets/img/favi.png">
</head>

<body>
    <div class="container">
        <div class="wrapper">
            <header class="top-logo">
            </header>

            <nav class="top-nav">
                <ul class="top-links">
                    <li><a href="#">HOME </a></li>
                    <li><a href="#">BOOKS </a></li>
                    <li><a href="#">ABOUT US </a></li>
                    <li><a href="#">CONTACT US </a></li>
                    <li><a href="#">LOG IN </a></li>
                </ul>
            </nav>

            <div class="slideshow">
                <ul class="rslides">
                    <li><img src="./assets/img/slide2.png" alt="" height="400"></li>
                    <li><img src="./assets/img/slide1.png" alt="" height="400"></li>
                    <li><img src="./assets/img/slide3.png" alt="" height="400"></li>
                </ul>
            </div>

            <section class="items">
                <section class="galleries">
                    <ul>
                        <router-outlet></router-outlet>
                    </ul>
                </section>
                 <footer class="copy">
                &copy; ELEVATE TEAM 2017
            </footer>
               </section>

            <!-- <aside class="recent">
            </aside>!-->

            
        </div>
    </div>

</body>

</html>